<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>Basic Form</h1>
<div class="container jumbotron">
    <form action="/mani/m">
        <div class="form-group-sm">
            <label>Enter Name: <input type="text" name="name" class="form-control" placeholder="Enter name"></label>
        </div>
        <div class="form-group-sm">
            <label><input type="submit"  value="Submit"></label>
        </div>
    </form>
</div>
</body>
</html>